    @font-face {
        font-family: 'proxima_novaregular';
        src: url('Font_Proximanova/proxima_nova_font-webfont.woff2') format('woff2'), url('Font_Proximanova/proxima_nova_font-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    
    * {
        margin: 1;
        padding: 0;
        box-sizing: border-box;
        font-family: 'proxima_novaregular';
    }
    
    body {
        position: relative;
        min-height: 100vh;
        background: #f7fafc;
        color: #171923;
        z-index: -1000;
        margin: 0%;
    }
    
    html {
        overflow: scroll;
        overflow-x: hidden;
        margin: 0%;
    }
    
     ::-webkit-scrollbar {
        width: 0;
        background: transparent;
    }
    /* Optional: show position indicator in red */
    
     ::-webkit-scrollbar-thumb {
        background: #FF0000;
    }
    
    .indexbody {
        overflow-x: hidden;
        background: #fff;
        min-height: 100vh;
    }
    
    #indexheader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 1em 0px;
        gap: 0.2em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row nowrap;
        margin-bottom: 2px;
        z-index: 10000;
        height: 11vh;
        background-color: #ffffff;
        border: solid rgb(203, 213, 224) 0px;
        border-bottom-width: 2px;
    }
    
    #indexheader span a {
        text-decoration: none;
        padding: 6px 15px;
        color: rgb(44, 43, 43);
        margin-left: 5px;
    }
    
    #indexheader span a:hover {
        color: rgb(18, 120, 236);
    }
    
    #bluesign:hover a {
        background-color: rgb(63, 123, 192);
        color: white;
    }
    
    section {
        position: relative;
        width: 100%;
        height: 120vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #bluesign a {
        color: rgb(255, 255, 255) !important;
        padding: 15%;
        background-color: rgb(42, 132, 238);
        border: transparent;
        border-style: solid;
        margin-right: 11px;
        border-radius: 10px;
    }
    
    #whitesign a {
        color: rgb(42, 132, 238) !important;
    }
    
    #whitesign a:hover {
        color: rgb(17, 88, 170) !important;
    }
    
    main {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        gap: 3em;
        padding: 2em 0.5em;
        margin-top: 11vh;
        background-image: url("./Images/loginbg.svg");
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    #textcontent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: no-wrap;
        align-items: baseline;
        gap: 1.5vh;
    }
    
    #textcontent h2 {
        color: black;
        font-size: 35px;
        margin: 0;
    }
    
    #textcontent p3 {
        color: rgb(92, 88, 88);
        font-size: 16px;
        gap: 10px;
        margin: 0.4px;
    }
    
    #textcontent p2 {
        color: rgb(112, 108, 108);
        font-size: 20px;
        margin: 0.6px;
        font-family: 'proxima_novaregular';
    }
    
    .fa fa-check-circle {
        height: auto;
        width: auto;
        z-index: 10000;
        color: rgb(92, 158, 235) !important;
        font-family: 'proxima_novaregular';
        flex-direction: row;
        justify-content: row;
        align-items: center;
    }
    
    #sign-up-form {
        display: flex;
        flex-direction: column;
        justify-content: column;
        align-items: center;
        padding: 30px;
        height: 85vh;
        border-radius: 10px;
        border: solid 1px;
        max-width: 35vw;
        border: solid rgb(203, 213, 224) 2px;
        size: 20px;
        background-color: white;
    }
    
    #label {
        display: flex;
        flex-direction: column;
        justify-content: column;
        align-items: baseline;
        text-align: left;
        font-size: 16px;
        gap: 0.55rem;
        font-weight: 700;
        color: black;
    }
    
    #Username {
        border: solid 2px;
        border-radius: 8px;
        height: 10%;
        flex-grow: 1;
        line-height: 20px;
        border: solid rgb(203, 213, 224) 2px;
        height: 45px;
        width: 32vw;
        font-size: 15px;
    }
    
    #Email {
        border: solid 2px;
        border-radius: 8px;
        height: 10%;
        flex-grow: 1;
        line-height: 20px;
        border: solid rgb(203, 213, 224) 2px;
        height: 45px;
        font-size: 15px;
        width: 32vw;
    }
    
    #Password {
        border: solid 2px;
        border-radius: 8px;
        height: 10%;
        flex-grow: 1;
        line-height: 20px;
        border: solid rgb(203, 213, 224) 2px;
        height: 45px;
        font-size: 15px;
        width: 32vw;
    }
    
    #Submit {
        display: flex;
        flex-direction: column;
        justify-content: column;
        align-items: center;
        background: transparent;
        border: 0px;
        width: 32vw;
        height: 7vh;
        border-radius: 5px;
        background-color: rgb(93, 170, 244) !important;
        color: white;
        font-size: large;
        text-align: center;
        margin-bottom: 0.5%;
        vertical-align: center;
        padding-top: 10px;
    }
    
    #Password:hover {
        border-color: rgb(92, 158, 235);
    }
    
    #Username:hover {
        border-color: rgb(92, 158, 235);
    }
    
    #Email:hover {
        border-color: rgb(92, 158, 235);
    }
    
    #warning {
        display: inline-block;
        flex-direction: column;
        justify-content: wrap no-wrap;
        align-items: center;
        width: 32vw;
        height: 10.5vh;
        border-radius: 5px;
        background-color: #fff9cc !important;
        color: rgb(65, 67, 70);
        font-size: 14.5px;
        text-align: center;
        vertical-align: center;
        padding-top: 16px;
        margin-top: 2.5%;
        line-height: 20px;
    }
    
    #warning {
        padding: 8px;
    }
    
    #bluetextlink {
        color: rgb(52, 129, 218);
    }
    
    #Signupplz {
        display: inline;
        flex-direction: column;
        justify-content: no-wrap;
        align-items: center;
        background: transparent;
        border: 0px;
        width: 32vw;
        height: 10.5vh;
        border-radius: 5px;
        color: black;
        font-size: 15.25px;
        text-align: center;
        vertical-align: center;
        padding-top: 10px;
        margin-top: 2vh;
        line-height: 20px;
    }
    
    #bluetextlinking a {
        color: rgb(52, 129, 218);
        font-weight: 600;
        overflow: none;
        text-decoration: none;
    }