html, body {
    background-color: white;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    overflow-x:hidden ;
}

* { 
    box-sizing: border-box; 
    font-family: "Poppins";
}


.NavBar{
    display: flex;
    background-color: hsl(0, 0%, 100%);
    flex-flow: row nowrap;
    overflow: hidden;
    animation-name: navBarIn;
    animation-duration: 0.4s;
    animation-timing-function: ease-out;
    padding: 0%;
    border: solid 0px rgb(86, 85, 85);
    border-bottom: solid 3px rgb(80, 76, 76);
}

.NavBar, .dropdownHost, .feedbackMenu, .helpMenu, a{
    padding: 0.75%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Space Grotesk', sans-serif !important;
    font-weight: 500;
}

.NavBar a:hover{
    padding: 0.75%;
    text-decoration: none;
    color: #6C75C3;
    padding-left: 1.5%;
    padding-right: 1.5%;
}

@keyframes navBarIn {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0%);
    }
}

.dropdown{
    position: absolute;
    top: 100%;
    background-color: #ffffff;
    width: min-content;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
    padding: 1%;
    text-align: left;
    font-weight: 500;
    flex-flow: column nowrap;
    max-height: 65vh;
    border: solid 3px rgb(80, 76, 76);
}

.dropdownHitbox {
    display: none;
    position: absolute;
    top: 0;
    width: 10em;
    height: 11.5%;
    overflow: visible;
}

.dropdown > * {
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-decoration: none;
    padding: 5% !important;
    margin: 2%;
    width: 220px;
}

.nestedDropdown, .nestedDropdownHitbox {
    display: none;
}

.nestedDropDownHost:hover .name{
    color: #4754c4; 
}

.nestedDropDownHost:hover .nestedDropdown {
    display: inline-flex;
    position: absolute;
    top: -0%;
    left: 105%;
    overflow-y: auto;
    overflow-x: hidden;
}
.nestedDropDownHost:hover .nestedDropdownHitbox {
    width: 100%;
    display: block;
    position:absolute;
    left:90%;
    height: 30rem;
    width: 10rem;
    transform:translateY(-2.5em);
}

.dropdownHost:hover .dropdownHitbox > .dropdown {
    display: inline-flex;
}

.dropdownHost:hover .dropdownHitbox {
    display: block;
}

.dropdownHost:hover .dropdown > :hover {
    color: #4754c4; 
    background-color: #e6e6f096;
    border: solid 0px;
    border-radius: 10px;
    width: auto;
}

.dropdown .nestedDropdown{
    width: 300px;
}

.dropdown .nestedDropdown a{
    width: auto;
}

.dropdownHostDropdownHitbox .dropdownHost a {
    color: #6C75C3;
}

.dropdownHost:hover .dropdown a:hover {
    color: #4754c4; 
}

.dropdownHostDropdownHitbox:hover .dropdownHost a {
    color: #6C75C3;
}

/* width */
::-webkit-scrollbar {
    width: 0px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(35, 34, 34);
    border-radius: 10px;
  }

    #textFormat{
        font-weight: 700;
        border-bottom: solid 2px;
        width: auto;
    }

    #textFormat:hover{
        background-color: white;
        color: black;
        border-bottom: solid 2px;
        border-radius: 0px;
    }